nav ul li{
    transform: scale(1.1);
    margin-left: 5px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.son-1 img{
    transform: scale(.8);
    border-radius:10px;
    transition: .5s;
    position: relative;
    top: -45px;
}
.son-1 img:hover{
    transform: scale(.83);
}
.son-2{
    position: relative;
    left: -40px;
    top: 20px;
}
.son-2 h2{
    margin-bottom: 20px;
}
.size{
    display: flex;
}
.size a{
  text-decoration: none;
  color: black;
  margin-left: 10px;
  border: 2px solid #eee;
  border-radius: 5px;
  width: 120px;
  height: 80px;
  text-align: center;
  padding-top: 15px;
  font-weight: bold;
}
.size a span{
    font-weight: normal;
    opacity: .6;
}
.color{
 display: flex;
}
.color div{
    width: 60px;
    height:60px;
    background-color: black;
    margin-left: 20px;
    border-radius: 50%;
}
h5{
    font-size: 17px;
}
.but {
    margin-top: 20px;
    display: flex;
    gap: 60px;
    margin-bottom: 20px;
}
.but a{
text-decoration: none;
}
.but div{
    width: 120px;
    height: 40px;
    background-color: #eee;
    margin-left: 30px;
     text-align: center;
     line-height: 40px;   
    border-radius: 20px;
    transform: scale(1.05);
}
.but-1 a{
    color:white;
}
.but-1{
    background-color: #1f1e1e !important;
     position: relative;
}
.but-2 a{
    color:#1f1e1e ;
}
.but-2{
    border: 1px solid #1f1e1e;
    background-color: white !important;
   
}
.but-1::after{
    content: "or";
    position: absolute;
    right: -45px;
    opacity: .7 !important;
    
}
.parent ul{
    margin-left: 30px;

}